@font-face {
    font-family: "JetBrains Mono";
    font-weight: bold;
    src: url("../media/fonts/JetBrainsMono-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Syne";
    font-weight: normal;
    src: url("../media/fonts/Syne-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    font-weight: 400;
    font-style: normal;
    src: url("../media/fonts/Lora-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    font-weight: 400;
    font-style: italic;
    src: url("../media/fonts/Lora-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    font-weight: 500;
    font-style: normal;
    src: url("../media/fonts/Lora-Medium.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    font-weight: 500;
    font-style: italic;
    src: url("../media/fonts/Lora-MediumItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    font-weight: 600;
    font-style: normal;
    src: url("../media/fonts/Lora-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    font-weight: 600;
    font-style: italic;
    src: url("../media/fonts/Lora-SemiBoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    font-weight: 700;
    font-style: normal;
    src: url("../media/fonts/Lora-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Lora";
    font-weight: 700;
    font-style: italic;
    src: url("../media/fonts/Lora-BoldItalic.woff2") format("woff2");
}

:root {
    --spacing-extra-small: 5px;
    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 50px;
    --spacing-extra-large: 100px;

    --black: #131313;
    --white: #F3F3F3;

    --gradient-placeholder: linear-gradient(0deg, var(--black) 0%, rgba(98, 98, 98, 1) 89%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lora', Times, serif;
    background: var(--white);
    color: var(--black);
}

article,
article * {
    margin: revert;
    padding: revert;
}

nav,
h5,
h6 {
    font-family: 'Syne', Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'JetBrains Mono', Courier, monospace;
    font-size: 2.5em;
    text-transform: uppercase;
    line-height: 1;
}

p,
li {
    font-size: 0.9em;
}

pre {
    font-family: 'Consolas', Courier, monospace;
    font-size: 0.8rem;
}

/* UTILS */

.screen-size {
    position: fixed;
    top: 50%;
    right: 0;
    line-height: 1em;
    margin: 0;
    transform: translate(0, -50%);
}

a {
    text-decoration: none;
    color: var(--black);
    opacity: 1;
}

a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

a.disabled {
    text-decoration: line-through;
}

a.current-page {
    text-decoration: underline;
}

/* STYLES */

nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    display: flex;
    gap: var(--spacing-large);

    text-transform: lowercase;

    padding: var(--spacing-extra-small) var(--spacing-medium);
}

header {
    position: relative;
    height: 30vh;

    display: flex;
    align-items: center;
}

header .title-container {
    position: relative;
    left: 5%;
}

main {
    position: relative;
    min-height: 200vh;

    margin-bottom: var(--spacing-extra-large);
}

section {
    position: relative;
    margin: 50px 0px;
    padding: 0px var(--spacing-medium);
}

article {
    min-height: 200vh;

    max-width: 1200px;
    padding: 0px var(--spacing-medium);
    margin: 50px auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

    padding: var(--spacing-small) var(--spacing-medium);

    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: 0.5s;
}

footer h2 {
    font-family: 'JetBrains Mono', Courier, monospace;
    text-transform: uppercase;
    line-height: 1;
}

footer .project-breadcrumbs {
    position: relative;
    width: 350px;
    transform: translateY(0%);
    transition: 0.2s;
}

footer .project-breadcrumbs.project-breadcrumbs-hidden {
    transform: translateY(200%);
}

.footer-home.footer-hidden {
    bottom: -3em;
}

.footer-content {
    display: flex;

    width: 50%;
    justify-content: space-between;

    gap: var(--spacing-medium);
}

.footer-content.footer-header {
    position: absolute;
    bottom: 0;
    right: 0;

    padding: var(--spacing-small) var(--spacing-medium);
}

.media-container {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);

    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    /* background: lightsalmon; */
}

.media-container.align-left {
    justify-content: flex-start;
}

.media-container.align-right {
    justify-content: flex-end;
}

.media-container.col-2 {}

.media-element {
    position: relative;
    height: 100%;
}

.media-element img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;

    min-width: 600px;
}

@media (min-width: 600px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 992px) {
    body {}
}

@media (min-width: 1200px) {
    body {}
}

@media (min-width: 1500px) {
    body {
        font-size: 22px;
    }
}